<template>
  <div id="app">
  <gmap-map
  :center="{lat:10, lng:10}"
  :zoom="7"
  :options="{styles: mapStyle}"
  map-type-id="roadmap"
  style="width: 100%; height: 500px"
>
 <gmap-marker 
 v-for="(marker, key) in listData" :key="key"
 @click="openModal(marker)" 
 :position="marker.position">
</gmap-marker>

</gmap-map>

    <input type="checkbox" name="repost"
    v-model="isRepost">

    <HelloWorld :marker="selectedMarker" msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import dummy_data from './dummy_data.json';
import map_style from './map_style.json';

export default {
  name: 'app',
  data() {
    return {
      listData: null,
      filteredData: null,
      markersData: dummy_data,
      mapStyle: map_style,
      selectedMarker: {},
      isRepost: false,
      $te: 'tes'
    };
  },
  watch: {
    isRepost: function(value) {
      if (value === true) {
        this.listData = this.filteredData;
      } else {
        this.listData = this.markersData;
      }
    }
  },
  methods: {
    getfilteredData() {
      this.filteredData = this.markersData.filter(item => {
        return item.repost === true;
      });
    },
    getMarkersData() {
      this.listData = this.markersData;
      /*   this.axios
        .get('http://api.thc.com/getMarkers')
        .then(function(response) {
          if (response.data) {
            this.markersData = response.data;
          }
          return this.markersData;
        })
        .catch(function(error) {
          return new Error(error);
        }); */
    },
    openModal(item) {
      this.selectedMarker = item;
    }
  },
  created: function() {},
  mounted: function() {
    this.getMarkersData();
    this.getfilteredData();
  },
  components: {
    HelloWorld
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
